<!DOCTYPE html>
<html>

<head>
    <title>Σελίδα Σφάλματος</title>
    <script type="text/javascript">
        // Ρυθμίστε τον χρονομετρητή για επανακατεύθυνση
        // Ο χρόνος είναι σε milliseconds (π.χ. 5000 milliseconds = 5 δευτερόλεπτα)
        setTimeout(function () {
            window.location.href = '/tables/order_summary/';
        }, 5000);
    </script>
</head>

<body>
    <p>{{ error_message }}</p>
    <br>
    Προσθέστε Κάποια Παραγγελία -- παρακαλώ περιμένετε, θα επιστρέψετε στη σελίδα καταχώρησης
</body>

</html>a